body, [data-bs-theme="light"], [data-bs-theme="dark"] {
    --tblr-brown: #532B1D;
    --tblr-blue: #50BDCA;
    --tblr-orange: #F08D60;
    --tblr-yellow: #F5BE56;
    --tblr-green: #75b747;
    --tblr-body-color: var(--tblr-brown);
}

.bg-brown { background-color: #532B1D !important; }
.text-brown { color: #532B1D !important; }
.btn-brown {
    background-color: #532B1D;
    color: #ffffff;
}
.btn-brown:hover {
    background-color: #402116;
    color: #ffffff;
}
.border-brown{
    border-color: #532b1d67 !important;
}

body {
    color: #532B1D;
}